<section class="movie">
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/134134439?h=4e57de82f2" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</section>

<section class="event_wrapper">
  <div class="event">
    <h2 class="event__name">Gravity Race — Annecy</h2>
    <div class="event__date">
      09 Octobre 2021
    </div>
    <p class="event__details">
      Les Swim Run sont des manifestations enchaînant
      des parcours de natation et course à pied répétés, d’un minimum de trois
      segments. Les participants effectuent la course principalement en
      binôme.<br /><br />

      L’idée du Swim Run est apparue en Suède en 2002 à l’occasion d’un pari entre
      amis. ”La dernière équipe arrivée à Sandham, village située 70 km plus au
      nord, en courant sur les différentes îles et en nageant entre elle, paiera
      l’hôtel et le dîner pour les autres.” En 2006, le premier SwimRun, l’Otillo,
      voit officiellement le jour en Suède. En 2017, la Fédération Française de
      Triathlon obtient la délégation du Swim Run. <br /> <br />

      Les Swim Run sont caractérisés par un format laissant place à la créativité
      responsable des organisateurs et à l’adaptation au territoire. A la
      différence du triathlon qui possède des aires de transition permettant de
      changer de tenue/matériel, les swimrunners conservent leur tenue et leur
      matériel sur l’ensemble du parcours. C’est à dire qu’ils vont nager avec
      leurs chaussures et courir avec leur combinaison néoprène (spécifique à la
      pratique). <br />
    </p>
  </div>
</section>

<section class="cards-container">
  <div class="card">
    <img src="assets/images/benevoles.jpg" />
  </div>

  <div class="card">
    <img src="assets/images/inscriptions.jpg" />
  </div>

  <div class="card">
    <img src="assets/images/faq.jpg" />
  </div>
</section>
